@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #fcfdff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-hairline;
  }
}

@layer utilities {
  .glow-orange {
    background: radial-gradient(circle at top, rgba(255, 89, 0, 0.15) 0%, transparent 70%);
  }
  .glow-blue {
    background: radial-gradient(circle at top, rgba(0, 117, 255, 0.2) 0%, transparent 70%);
  }
  .glow-green {
    background: radial-gradient(circle at top, rgba(34, 255, 153, 0.12) 0%, transparent 70%);
  }
}
